*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: #F3F3F3;
    margin: 0;
}

.titlebar {
    width: 100%;        /* w-full */
    height: 2.5rem;     /* h-10 (10 * 0.25rem) */
    display: flex;      
    flex-direction: row; /* flex-row */
    justify-content: space-between; /* justify-between */
    align-items: center; /* items-center */
    position: relative;  /* relative */
}
  

.container .ql-editor {
    width: 8.5in;
    min-height: 11in; /* Allow content to expand */
    padding: 1in;
    margin: 1rem auto 2rem; /* Add space between pages */
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    background-color: white;
    position: relative;
}

.container .ql-container.ql-snow{
    border: none;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.container .ql-toolbar.ql-snow{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3F3F3;
    box-shadow:  0 0 5px 0 rgb(0,0,0, .5);
    width: 100vw;

}


@page {
  margin: 1in; /* Correct margin with units */
}

@media print {
  body {
    background: none;
    margin: 0;
  }

  .container .ql-editor {
    width: 6.5in !important; /* Fills page width considering @page margins */
    min-height: 9in;
    padding: 0;
    margin: 0; /* Remove element margin */
    box-shadow: none;
    page-break-before: always;
  }

  /* Ensure content breaks properly */
  .ql-editor * {
    page-break-inside: avoid;
  }

  /* Hide non-essential elements */
  .container .ql-toolbar.ql-snow,
  .titlebar {
    display: none;
  }
}